* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
fieldset {
    width: 1200px;
    margin: auto;
    padding: 30px;
}
.clearfix::after {
    display: block;
    content: '';
    clear: both;
}

.list, .number, .picture, .list2, .radio, .color, .submit {
    float: left;
    width: 250px;
    height: 25vh;
}
.search,.textarea, .file {
    float: left;
    width: 320px;
    height: 25vh;
    margin-right: 10px;
}
textarea {
    float: right;
}
img {
    float: left;
    margin-bottom: 10px;
}
.reset {
    float: right;
}