* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    min-width: 320px;
}
h1 {
    display: flex;
    justify-content: center;
    background-color: #fea419;
    order: 1;
}
main {
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
}
aside {
    order: 3;
    flex-basis: 100%;
    text-align: center;
    background-color: yellow;
}
section {
    order: 2;
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: azure;
    align-items: stretch;
    text-align: center;
}
h2 {
    flex-basis: 100%;
    background-color: brown;
}
article {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    background-color: darkorchid;
}
.col1, .col2 {
    flex-basis: 50%;
}
.col2 {

}