* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    min-width: 320px;
}
h1 {
    display: flex;
    justify-content: center;
    background-color: darkcyan;
}
main {
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
}
aside {
    flex-basis: 50%;
    text-align: center;
    background-color: cadetblue;
}
section {
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
    background-color: azure;
    align-items: stretch;
    text-align: center;
}
h2 {
    flex-basis: 100%;
    background-color: lightslategray;
}
article {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    background-color: lightblue;
}
.col1, .col2 {
flex-basis: 50%;
}

@media (max-width: 720px) {
    h1 {
    order: 1;
    }
    section {
        order: 2;
        flex-basis: 100%;
    }
    aside {
        order: 3;
        flex-basis: 100%;
    }
}